= form_for @submission do |f|
  .row
    .col-xs-6#input-left
      = f.text_field :first_name, placeholder: 'First Name'
    .col-xs-6#input-right
      = f.text_field :last_name, placeholder: 'Last Name'
  = f.text_field :email, placeholder: 'Email'
  = f.text_area :essay, placeholder: 'Please copy and past the text of your essay here'
  = f.submit 'Save'
