= form_for @submission do |f|
  .row
    .col-xs-6#input-left
      = f.text_field :first_name, placeholder: 'First Name'
    .col-xs-6#input-right
      = f.text_field :last_name, placeholder: 'Last Name'
  = f.text_field :email, placeholder: 'Email'
  = f.text_area :essay, placeholder: 'Please copy and paste the text of your essay here'
  / = f.select :school, placeholder: 'Enter your school name here'
  = select(:submission, :school,{ "C. K. McClatchy High School" => "C. K. McClatchy High School", "Folsom High School" => "Folsom High School", "Granite Bay High School"=>"Granite Bay High School", "Mira Loma High School"=>"Mira Loma High School", "Ponderosa High School"=>"Ponderosa High School", "Sacramento Country Day School" => "Sacramento Country Day School", "Vista del Lago High School"=>"Vista del Lago High School"})
  %br
  %br
  .row
    .col-xs-12
      By checking this, you agree to publication of your essay on our website if yours is one of the winning entries
      = f.check_box :postconfirm
  %br
  = f.submit 'Submit'
  %br
  %p If you have any questions regarding the scholarship or this website, <a href="mailto:sabyadas@outlook.com?subject=Satyaprit.com Inquiry">email us</a>!
