#message
	- flash.each do |type, message|
		%div{class: "alert #{bootstrap_class_for(type)} fade in"}
			%button.close{"data-dismiss" => "alert"} ×
			.text-center
				= message
	- if @submission.errors.any?
		.container
			.row
				.col-xs-12
					#error_explanation
						%h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
						%ul
							- @submission.errors.full_messages.each do |msg|
								%li= msg
#form
	.jumbotron.text-center
		%h1.red-color Satyaprit Das Memorial Scholarship
		#portrait= image_tag('portrait.jpg')
	.container
		.row#descriptions
			.col-xs-12.col-md-6
				.header
					%h4 Purpose
					%p This is an annual Essay competition for college scholarship, open to Sacramento area seniors who are headed to college. In 2015, the competition is limited to a 5 schools in the Sacramento region. The competition is held in honor of Satyaprit Das, who was senior at Mira Loma High and died in a tragic car accident on May 1st 2014. It is hosted by the Das Family to commemorate the legacy of Satyaprit, who was a bright student, an avid debater, and always wanted help people in need. Satyaprit valued college education and had decided to go to CMU to pursue pre-law. He started a nonprofit, with the help of several friends in his sophomore year, named Cognitive Exchange (<a href="www.cognitivexchange.org", class="red-link">www.cognitivexchange.org</a>). The goal Satyaprit had for this is to foster public speaking and leadership skills in the future citizens of the new and emerging democracies with the ultimate goal to promote free thinking among these young adults. Cognitive Exchange has since grown to be a fully established and rapidly growing, tax-exempt non-profit in California. CE is training close to 100 students in India right now on the speech and debate curriculum that Satyaprit and his friends had instituted and plans to grow to over 300 students in 2015. His passion and legacy is being carried on by his peers and friends who were instrumental in getting this started.
				.header
					%h4 Eligibility
					%p Seniors bound for college - limited to Sacramento area schools with invitation to participate
			.col-xs-12.col-md-6
				.header
					%h4 2015 Topic
					%p <b>“Love what you do, and do what you love” Is this quote a fallacy in modern times?</b> In 750 words or less, analyze the validity of the quote as it relates to students and professionals alike in today’s world.
					%p Satyaprit is described by his friends and peers as one of the most helping and compassionate individuals they ever knew. An old soul, who made it his business to help people in need with a unique ability to cheer people up. He stood up for what he believed in, and with unwavering passion, but at the same time he believed in having a lot of fun and doing what he loved. While that’s the connection of this year’s topic to Satyaprit’s legacy, he also believed in a great debate. So we would expect a mix of submissions in favor as well against this ideology. The entries will be judged on originality, style, topicality of the arguments and literary maturity.
				.header
					%h4 Submission Due Date
					%p Friday, April 24, 2015. Entry for submissions opens on Monday April 13th, with submissions limted to the first 50 entries received.
				.header
					%h4 Scholarship Prize
					%p First place winner will receive a $1,000 scholarship and award certificate, and the second place winner will receive $500 and award certificate.
		.row
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.text-center
				%span.header
					%h2 Submission Form
				= render 'form'
